[DEFAULT]
show_titles = yes
delay_ms = 6000
categories = all
max_photos = 10
update_interval = 20

[service.pixabay]
base_url = https://pixabay.com/api
image_key = largeImageURL
token = abcdef-123401aaaaaaaaaa
category = music
editors_choice = true

[service.rekognition]
data_directory = __photo_frame/rekognition
use_service = yes

[storage.json]
data_directory = configs/categories

[storage.db]
data_directory = __photo_frame/db
db_file_name = tags.db

[logging]
data_file = configs/logging.json